@model App_horarios_BackEnd.Models.DiretorCurso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiretorCurso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escola.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtilizador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUtilizador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
