@model IEnumerable<App_horarios_BackEnd.Models.DiretorCurso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Escola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilizador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Escola.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilizador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUtilizador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUtilizador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUtilizador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
