@model App_horarios_BackEnd.Models.Curso

@{
ViewData["Title"] = "Detalhes do Curso";
}

<h1>Detalhes do Curso</h1>
<hr />

<div class="card shadow-sm p-4 mb-4 bg-white rounded">
    <dl class="row">
        <!-- Nome -->
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <!-- Escola -->
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Escola)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Escola.Nome)
        </dd>

        

        <!-- Grau -->
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Grau)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Grau.Nome)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>
