@model App_horarios_BackEnd.Models.Localizacao

@{
ViewData["Title"] = "Detalhes da Localização";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-title fw-bold mb-0">Detalhes da Localidade</h2>
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Voltar à Lista
        </a>
    </div>

    <div class="card shadow-sm p-4 rounded bg-white border mb-4">
        <dl class="row mb-0">
            <dt class="col-sm-3 fw-semibold text-muted">
                Código
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt class="col-sm-3 fw-semibold text-muted">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt class="col-sm-3 fw-semibold text-muted">
                @Html.DisplayNameFor(model => model.Abreviacao)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Abreviacao)
            </dd>
        </dl>
    </div>

    <div class="d-flex">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-ipt me-2">
            <i class="bi bi-pencil-square"></i> Editar
        </a>
        
    </div>
</div>
